:root {
  --cbp-color-main: #e06161;
  --cbp-color-main-darken: #dc4c4c;
  --cbp-color-background: rgba(136, 136, 136, 0.1);
  --cbp-color-green: #3aca47;
  --cbp-color-red: #ff6868;
  --cbp-color-grey: #cfcfcf;
  --cbp-border-radius: 0.15em;
  --cbp-archives__border-radius: var(--cbp-border-radius);
  --cbp-blocks-margin-bottom: 2em;
  --cbp-transition-duration: 0.15s;
  --cbp-transition-easing: ease-in-out
}

.cyberpress-row {
  --cbp-row__gap: 30px;
  --cbp-row__column: 3;
  display: grid;
  grid-template-columns: repeat(var(--cbp-row__column), 1fr);
  grid-gap: var(--cbp-row__gap);
  list-style-type: none
}

.cyberpress-row.cyberpress-row-1 {
  --cbp-row__column: 1
}

.cyberpress-row.cyberpress-row-2 {
  --cbp-row__column: 2
}

@media(max-width: 991px) {
  .cyberpress-row.cyberpress-row-2 {
    --cbp-row__column: 1
  }
}

.cyberpress-row.cyberpress-row-3 {
  --cbp-row__column: 3
}

@media(max-width: 991px) {
  .cyberpress-row.cyberpress-row-3 {
    --cbp-row__column: 2
  }
}

@media(max-width: 767px) {
  .cyberpress-row.cyberpress-row-3 {
    --cbp-row__column: 1
  }
}

.cyberpress-row.cyberpress-row-4 {
  --cbp-row__column: 4
}

@media(max-width: 991px) {
  .cyberpress-row.cyberpress-row-4 {
    --cbp-row__column: 3
  }
}

@media(max-width: 767px) {
  .cyberpress-row.cyberpress-row-4 {
    --cbp-row__column: 2
  }
}

@media(max-width: 532px) {
  .cyberpress-row.cyberpress-row-4 {
    --cbp-row__column: 1
  }
}

.cyberpress-row.cyberpress-row-5 {
  --cbp-row__column: 5
}

@media(max-width: 991px) {
  .cyberpress-row.cyberpress-row-5 {
    --cbp-row__column: 4
  }
}

@media(max-width: 767px) {
  .cyberpress-row.cyberpress-row-5 {
    --cbp-row__column: 3
  }
}

@media(max-width: 532px) {
  .cyberpress-row.cyberpress-row-5 {
    --cbp-row__column: 2
  }
}

.cyberpress-row.cyberpress-row-6 {
  --cbp-row__column: 6
}

@media(max-width: 991px) {
  .cyberpress-row.cyberpress-row-6 {
    --cbp-row__column: 5
  }
}

@media(max-width: 767px) {
  .cyberpress-row.cyberpress-row-6 {
    --cbp-row__column: 4
  }
}

@media(max-width: 532px) {
  .cyberpress-row.cyberpress-row-6 {
    --cbp-row__column: 3
  }
}

.cyberpress-row.cyberpress-row-7 {
  --cbp-row__column: 7
}

@media(max-width: 991px) {
  .cyberpress-row.cyberpress-row-7 {
    --cbp-row__column: 6
  }
}

@media(max-width: 767px) {
  .cyberpress-row.cyberpress-row-7 {
    --cbp-row__column: 5
  }
}

@media(max-width: 532px) {
  .cyberpress-row.cyberpress-row-7 {
    --cbp-row__column: 4
  }
}

.cyberpress-row.cyberpress-row-8 {
  --cbp-row__column: 8
}

@media(max-width: 991px) {
  .cyberpress-row.cyberpress-row-8 {
    --cbp-row__column: 7
  }
}

@media(max-width: 767px) {
  .cyberpress-row.cyberpress-row-8 {
    --cbp-row__column: 6
  }
}

@media(max-width: 532px) {
  .cyberpress-row.cyberpress-row-8 {
    --cbp-row__column: 5
  }
}

.cyberpress-row.cyberpress-row-9 {
  --cbp-row__column: 9
}

@media(max-width: 991px) {
  .cyberpress-row.cyberpress-row-9 {
    --cbp-row__column: 8
  }
}

@media(max-width: 767px) {
  .cyberpress-row.cyberpress-row-9 {
    --cbp-row__column: 7
  }
}

@media(max-width: 532px) {
  .cyberpress-row.cyberpress-row-9 {
    --cbp-row__column: 6
  }
}

.cyberpress-row.cyberpress-row-10 {
  --cbp-row__column: 10
}

@media(max-width: 991px) {
  .cyberpress-row.cyberpress-row-10 {
    --cbp-row__column: 9
  }
}

@media(max-width: 767px) {
  .cyberpress-row.cyberpress-row-10 {
    --cbp-row__column: 8
  }
}

@media(max-width: 532px) {
  .cyberpress-row.cyberpress-row-10 {
    --cbp-row__column: 7
  }
}

.cyberpress-row.cyberpress-row-11 {
  --cbp-row__column: 11
}

@media(max-width: 991px) {
  .cyberpress-row.cyberpress-row-11 {
    --cbp-row__column: 10
  }
}

@media(max-width: 767px) {
  .cyberpress-row.cyberpress-row-11 {
    --cbp-row__column: 9
  }
}

@media(max-width: 532px) {
  .cyberpress-row.cyberpress-row-11 {
    --cbp-row__column: 8
  }
}

.cyberpress-row.cyberpress-row-12 {
  --cbp-row__column: 12
}

@media(max-width: 991px) {
  .cyberpress-row.cyberpress-row-12 {
    --cbp-row__column: 11
  }
}

@media(max-width: 767px) {
  .cyberpress-row.cyberpress-row-12 {
    --cbp-row__column: 10
  }
}

@media(max-width: 532px) {
  .cyberpress-row.cyberpress-row-12 {
    --cbp-row__column: 9
  }
}

.cyberpress-btn,
a.cyberpress-btn {
  --cbp-btn__padding-y: 0.6em;
  --cbp-btn__padding-x: 0.9em;
  --cbp-btn__font-size: 0.9em;
  --cbp-btn__font-weight: 700;
  --cbp-btn__line-height: 1.2;
  --cbp-btn__background-color: var(--cbp-color-main);
  --cbp-btn__border-radius: 0.15em;
  --cbp-btn__transition: background-color var(--cbp-transition-duration) var(--cbp-transition-easing);
  --cbp-btn-focus__color: #fff;
  --cbp-btn-focus__background-color: var(--cbp-color-main-darken);
  box-sizing: border-box;
  display: inline-block;
  padding: var(--cbp-btn__padding-y) var(--cbp-btn__padding-x);
  font-size: var(--cbp-btn__font-size);
  font-weight: var(--cbp-btn__font-weight);
  line-height: var(--cbp-btn__line-height);
  vertical-align: bottom;
  background-color: var(--cbp-btn__background-color);
  border: none;
  border-radius: var(--cbp-btn__border-radius);
  outline: none;
  transition: var(--cbp-btn__transition)
}

.cyberpress-btn,
.cyberpress-btn:visited,
.cyberpress-btn:hover,
.cyberpress-btn:focus,
a.cyberpress-btn,
a.cyberpress-btn:visited,
a.cyberpress-btn:hover,
a.cyberpress-btn:focus {
  color: var(--cbp-btn-focus__color);
  text-decoration: none
}

.cyberpress-btn:hover,
.cyberpress-btn:focus,
a.cyberpress-btn:hover,
a.cyberpress-btn:focus {
  background-color: var(--cbp-btn-focus__background-color)
}

.cyberpress-svg-icon {
  --cbp-svg-icon__width: 1em;
  --cbp-svg-icon__height: 1em;
  --cbp-svg-icon__vertical-align: -0.125em;
  display: inline-block;
  width: var(--cbp-svg-icon__width);
  height: var(--cbp-svg-icon__height);
  overflow: visible;
  font-size: inherit;
  vertical-align: var(--cbp-svg-icon__vertical-align)
}

img.cyberpress-flag-img {
  --cbp-flag-img__height: 1em;
  --cbp-flag-img__vertical-align: -0.125em;
  --cbp-flag-img__border-radius: 0.15em;
  --cbp-flag-img__box-shadow: 0 0 0 0.5px rgba(123, 123, 123, 10%);
  display: inline-block;
  width: auto;
  height: var(--cbp-flag-img__height);
  font-size: inherit;
  vertical-align: var(--cbp-flag-img__vertical-align);
  border-radius: var(--cbp-flag-img__border-radius);
  box-shadow: var(--cbp-flag-img__box-shadow)
}

.cyberpress-pagination {
  --cbp-pagination__margin-top: 1.5em;
  margin-top: var(--cbp-pagination__margin-top)
}

.cyberpress-progress {
  --cbp-progress__min-width: 150px;
  --cbp-progress__margin-bottom: 10px;
  --cbp-progress__border-radius: 8px;
  --cbp-progress--item__height: 8px;
  display: flex;
  width: 100%;
  min-width: var(--cbp-progress__min-width);
  margin-bottom: var(--cbp-progress__margin-bottom);
  overflow: hidden;
  border-radius: var(--cbp-progress__border-radius)
}

.cyberpress-progress>.cyberpress-progress-item {
  height: var(--cbp-progress--item__height)
}

.cyberpress-progress-item-green {
  background-color: var(--cbp-color-green)
}

.cyberpress-progress-item-red {
  background-color: var(--cbp-color-red)
}

.cyberpress-progress-item-grey {
  background-color: var(--cbp-color-grey)
}

.cyberpress-progress-labels {
  --cbp-progress-labels__min-width: 150px;
  --cbp-progress-labels__gap-h: 15px;
  --cbp-progress-labels__gap-v: 5px;
  display: flex;
  flex-wrap: wrap;
  min-width: var(--cbp-progress-labels__min-width);
  margin-top: calc(var(--cbp-progress-labels__gap-v)/-1);
  margin-right: calc(var(--cbp-progress-labels__gap-h)/-2);
  margin-left: calc(var(--cbp-progress-labels__gap-h)/-2)
}

.cyberpress-progress-labels .cyberpress-progress-label {
  flex: 0 0 auto;
  padding-top: var(--cbp-progress-labels__gap-v);
  padding-right: calc(var(--cbp-progress-labels__gap-h)/2);
  padding-left: calc(var(--cbp-progress-labels__gap-h)/2)
}

.cyberpress-progress-label {
  --cbp-progress-label__font-size: 12px;
  --cbp-progress-label__font-weight: 500;
  --cbp-progress-label__opacity: 0.7em;
  --cbp-progress-label--dot__width: 8px;
  --cbp-progress-label--dot__height: 8px;
  --cbp-progress-label--dot__margin-right: 8px;
  --cbp-progress-label--dot__border-radius: 100%;
  display: flex;
  align-items: center;
  font-size: var(--cbp-progress-label__font-size);
  font-weight: var(--cbp-progress-label__font-weight);
  opacity: var(--cbp-progress-label__opacity)
}

.cyberpress-progress-label::before {
  display: inline-block;
  width: var(--cbp-progress-label--dot__width);
  height: var(--cbp-progress-label--dot__height);
  margin-right: var(--cbp-progress-label--dot__margin-right);
  content: "";
  border-radius: var(--cbp-progress-label--dot__border-radius)
}

.cyberpress-progress-label-green::before {
  background-color: var(--cbp-color-green)
}

.cyberpress-progress-label-red::before {
  background-color: var(--cbp-color-red)
}

.cyberpress-progress-label-grey::before {
  background-color: var(--cbp-color-grey)
}

.cyberpress-screenshots {
  --cbp-screenshots__grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  --cbp-screenshots__grid-gap: 30px;
  display: grid;
  grid-template-columns: var(--cbp-screenshots__grid-template-columns);
  grid-gap: var(--cbp-screenshots__grid-gap);
  align-items: center
}

.cyberpress-screenshot {
  --cbp-screenshot__padding-top: 56.25%;
  --cbp-screenshot--overlay__opacity: 0;
  --cbp-screenshot--overlay__transform: scale(1.2);
  --cbp-screenshot-hover--overlay__opacity: 1;
  --cbp-screenshot-hover--overlay__transform: scale(1);
  position: relative;
  display: block;
  overflow: hidden;
  text-decoration: none;
  border: none
}

.cyberpress-screenshot::after {
  position: relative;
  top: 0;
  left: 0;
  z-index: -1000;
  display: block;
  width: 100%;
  height: auto;
  padding-top: var(--cbp-screenshot__padding-top);
  visibility: hidden;
  content: "";
  opacity: 0
}

.cyberpress-screenshot img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover
}

.cyberpress-screenshot .cyberpress-screenshot-overlay {
  opacity: var(--cbp-screenshot--overlay__opacity);
  transform: var(--cbp-screenshot--overlay__transform)
}

.cyberpress-screenshot:hover .cyberpress-screenshot-overlay {
  opacity: var(--cbp-screenshot-hover--overlay__opacity);
  transform: var(--cbp-screenshot-hover--overlay__transform)
}

.cyberpress-screenshot-overlay {
  --cbp-screenshot-overlay__font-size: 2em;
  --cbp-screenshot-overlay__color: #fff;
  --cbp-screenshot-overlay__background-color: rgba(0, 0, 0, 70%);
  --cbp-screenshot-overlay__transition: var(--cbp-transition-duration) opacity var(--cbp-transition-easing), var(--cbp-transition-duration) transform var(--cbp-transition-easing);
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  font-size: var(--cbp-screenshot-overlay__font-size);
  color: var(--cbp-screenshot-overlay__color);
  background-color: var(--cbp-screenshot-overlay__background-color);
  transition: var(--cbp-screenshot-overlay__transition)
}

.cyberpress-social-links ul {
  --cbp-social-link__gap: 8px;
  --cbp-social-link--a__width: 36px;
  --cbp-social-link--a__height: 36px;
  --cbp-social-link--a__font-size: 16px;
  --cbp-social-link--a__line-height: 1;
  --cbp-social-link--a__color: #fff;
  --cbp-social-link--a__border-radius: 18px;
  --cbp-social-link--a__background-color: var(--cbp-color-main);
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin-right: calc(var(--cbp-social-link__gap)/-2);
  margin-left: calc(var(--cbp-social-link__gap)/-2);
  list-style-type: none
}

.cyberpress-social-links ul>li {
  margin: 0
}

.cyberpress-social-links ul a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: var(--cbp-social-link--a__width);
  height: var(--cbp-social-link--a__height);
  margin-right: calc(var(--cbp-social-link__gap)/2);
  margin-left: calc(var(--cbp-social-link__gap)/2);
  font-size: var(--cbp-social-link--a__font-size);
  line-height: var(--cbp-social-link--a__line-height);
  color: var(--cbp-social-link--a__color);
  text-decoration: none;
  background-color: var(--cbp-social-link--a__background-color);
  border-radius: var(--cbp-social-link--a__border-radius);
  box-shadow: none
}

.cyberpress-table {
  --cbp-table--thead__background-color: var(--cbp-color-background);
  --cbp-table--tr-odd__background-color: rgba(200, 200, 200, 0.1);
  --cbp-table--tr-even__background-color: var(--cbp-color-background);
  width: 100%;
  table-layout: auto
}

.cyberpress-table .cyberpress-table-item-small {
  width: 1px
}

.cyberpress-table thead {
  background-color: var(--vp-color-brand);
}

.cyberpress-table td {
  vertical-align: middle
}

.cyberpress-table tbody tr:nth-child(odd) {
  background-color: var(--cbp-table--tr-odd__background-color)
}

.cyberpress-table tbody tr:nth-child(even) {
  background-color: var(--cbp-table--tr-even__background-color)
}

.cyberpress-table th,
.cyberpress-table td {
  border-color: rgba(0, 0, 0, 0)
}

.cyberpress-twitch {
  --cpb-twitch__padding-top: 56.25%;
  position: relative
}

.cyberpress-twitch iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%
}

.cyberpress-twitch::after {
  position: relative;
  top: 0;
  left: 0;
  z-index: -1000;
  display: block;
  width: 100%;
  height: auto;
  padding-top: var(--cpb-twitch__padding-top);
  visibility: hidden;
  content: "";
  opacity: 0
}

.cyberpress-videos {
  --cbp-videos__grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  --cbp-videos__grid-gap: 30px;
  display: grid;
  grid-template-columns: var(--cbp-videos__grid-template-columns);
  grid-gap: var(--cbp-videos__grid-gap);
  align-items: center
}

.cyberpress-video {
  --cbp-video__padding-top: 56.25%;
  position: relative
}

.cyberpress-video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%
}

.cyberpress-video::after {
  position: relative;
  top: 0;
  left: 0;
  z-index: -1000;
  display: block;
  width: 100%;
  height: auto;
  padding-top: var(--cbp-video__padding-top);
  visibility: hidden;
  content: "";
  opacity: 0
}

.cyberpress .page-header {
  --cbp-header__margin-bottom: 30px;
  margin-bottom: var(--cbp-header__margin-bottom)
}

.cyberpress-games-archive,
.cyberpress-block-games>ul,
.cyberpress-matches-archive,
.cyberpress-block-matches>ul,
.cyberpress-match-participant-players>ul,
.cyberpress-players-archive,
.cyberpress-block-players>ul,
.cyberpress-teams-archive,
.cyberpress-block-teams>ul,
.cyberpress-tournaments-archive,
.cyberpress-block-tournaments>ul {
  padding: 0;
  margin: 0;
  list-style: none
}

.cyberpress-block-games,
.cyberpress-block-matches,
.cyberpress-block-players,
.cyberpress-block-teams,
.cyberpress-block-tournaments,
.cyberpress-table,
.single-game .cyberpress-game,
.single-match .cyberpress-match,
.single-player .cyberpress-player,
.single-team .cyberpress-team,
.single-tournament .cyberpress-tournament,
.cyberpress-tournament,
.cyberpress-videos,
.cyberpress-screenshots,
.cyberpress-twitch,
.cyberpress-social-links {
  margin-bottom: var(--cbp-blocks-margin-bottom)
}

.cyberpress-game-info,
.cyberpress-match-info,
.cyberpress-player-info,
.cyberpress-team-info,
.cyberpress-tournament-info {
  --cbp-items-info__font-size: 0.85em;
  --cbp-items-info__gap: 0.4em;
  padding: 0;
  margin: 0;
  font-size: var(--cbp-items-info__font-size);
  list-style: none
}

.cyberpress-game-info li+li,
.cyberpress-match-info li+li,
.cyberpress-player-info li+li,
.cyberpress-team-info li+li,
.cyberpress-tournament-info li+li {
  margin-top: var(--cbp-items-info__gap)
}

.cyberpress-game a,
.cyberpress-match a,
.cyberpress-player a,
.cyberpress-player-games a,
.cyberpress-player-team a,
.cyberpress-team a,
.cyberpress-team-players a,
.cyberpress-tournament a {
  color: inherit;
  text-decoration: none
}

.cyberpress-game a:visited,
.cyberpress-match a:visited,
.cyberpress-player a:visited,
.cyberpress-player-games a:visited,
.cyberpress-player-team a:visited,
.cyberpress-team a:visited,
.cyberpress-team-players a:visited,
.cyberpress-tournament a:visited {
  color: inherit
}

.cyberpress-game a:hover,
.cyberpress-game a:focus,
.cyberpress-match a:hover,
.cyberpress-match a:focus,
.cyberpress-player a:hover,
.cyberpress-player a:focus,
.cyberpress-player-games a:hover,
.cyberpress-player-games a:focus,
.cyberpress-player-team a:hover,
.cyberpress-player-team a:focus,
.cyberpress-team a:hover,
.cyberpress-team a:focus,
.cyberpress-team-players a:hover,
.cyberpress-team-players a:focus,
.cyberpress-tournament a:hover,
.cyberpress-tournament a:focus {
  color: var(--cbp-color-main)
}

ul.cyberpress-row {
  list-style-type: none
}

.cyberpress-game,
.cyberpress-match,
.cyberpress-player,
.cyberpress-team,
.cyberpress-tournament,
.cyberpress-block-games,
.cyberpress-block-matches,
.cyberpress-block-players,
.cyberpress-block-teams,
.cyberpress-block-tournaments,
.cyberpress-games-archive,
.cyberpress-matches-archive,
.cyberpress-players-archive,
.cyberpress-teams-archive,
.cyberpress-tournaments-archive {
  word-break: break-word
}

.cyberpress-match-participant-thumbnail img,
.cyberpress-player-thumbnail img,
.cyberpress-game-thumbnail img,
.cyberpress-team-thumbnail img {
  display: block;
  width: 100%;
  height: auto
}

.cyberpress-game,
.cyberpress-match,
.cyberpress-player,
.cyberpress-team,
.cyberpress-tournament {
  --cbp-archives__border-radius: var(--cbp-border-radius);
  margin: 0;
  border-radius: var(--cbp-archives__border-radius)
}

.cyberpress-match {
  --cbp-match__padding: 15px;
  --cbp-match__gap: 0;
  --cbp-match__background-color: var(--cbp-color-background);
  --cbp-match--title__margin-top: 0;
  --cbp-match--title__margin-bottom: 0;
  --cbp-match--title__font-size: 16px;
  --cbp-match--info__margin-bottom: 0;
  --cbp-match--participants__grid-template-columns: 1fr 1.5fr 1fr;
  --cbp-match--participants__grid-gap: 15px;
  --cbp-match--participant-title__margin-y: 15px;
  --cbp-match--participant-title__margin-x: 0;
  --cbp-match--participant-title__font-size: 1.2em;
  --cbp-match--participant-title__font-weight: 600;
  --cbp-match--participant-title__text-align: center;
  --cbp-match--participants-thumbnail__max-width: 100px;
  --cbp-match--participant-vs__padding: 30px 0;
  --cbp-match--participant-vs__font-size: 40px;
  --cbp-match--participant-vs__font-weight: 600;
  --cbp-match--participant-vs__text-align: center;
  --cbp-match--participant-time-start__margin-bottom: 15px;
  --cbp-match--participant-time-start__font-size: 18px;
  --cbp-match--participant-time-start__font-weight: 400;
  --cbp-match--participant-time-start__text-align: center;
  --cbp-match--participant-players-h3__margin-top: 1.5em;
  --cbp-match--participant-players-h3__margin-bottom: 1em;
  --cbp-match--participant-players-h3__font-size: 0.85em;
  --cbp-match--participant-players-ul__font-size: 0.85em;
  --cbp-match--participant-players-ul__gap: 0.8em;
  --cbp-match--participant-players-img__width: 35px;
  --cbp-match--participant-players-img__margin-right: 0.8em;
  --cbp-match--participant-players-img__border-radius: var(--cbp-border-radius);
  --cbp-match--participant-players-span__font-weight: 700;
  padding: var(--cbp-match__padding);
  background-color: var(--cbp-match__background-color)
}

.cyberpress-match>*+* {
  padding-top: var(--cbp-match__gap)
}

.cyberpress-match .cyberpress-match-title {
  margin-top: var(--cbp-match--title__margin-top);
  margin-bottom: var(--cbp-match--title__margin-bottom);
  font-size: var(--cbp-match--title__font-size)
}

.cyberpress-match .cyberpress-match-info {
  margin-bottom: var(--cbp-match--info__margin-bottom)
}

.cyberpress-match .cyberpress-match-participants {
  display: grid;
  grid-template-columns: var(--cbp-match--participants__grid-template-columns);
  grid-gap: var(--cbp-match--participants__grid-gap)
}

@media(max-width: 767px) {
  .cyberpress-match .cyberpress-match-participants {
    --cbp-match-participants__grid-template-columns: 1fr
  }
}

.cyberpress-match .cyberpress-match-participant-title {
  margin: var(--cbp-match--participant-title__margin-y) var(--cbp-match--participant-title__margin-x);
  font-size: var(--cbp-match--participant-title__font-size);
  font-weight: var(--cbp-match--participant-title__font-weight);
  text-align: var(--cbp-match--participant-title__text-align)
}

.cyberpress-match .cyberpress-match-participant-thumbnail {
  text-align: center
}

.cyberpress-match .cyberpress-match-participant-thumbnail img {
  max-width: var(--cbp-match--participants-thumbnail__max-width);
  height: auto;
  margin: 0 auto
}

.cyberpress-match .cyberpress-match-participant-vs {
  padding: var(--cbp-match--participant-vs__padding);
  font-size: var(--cbp-match--participant-vs__font-size);
  font-weight: var(--cbp-match--participant-vs__font-weight);
  text-align: var(--cbp-match--participant-vs__text-align)
}

.cyberpress-match .cyberpress-match-participant-vs>a {
  display: block
}

.cyberpress-match .cyberpress-match-participant-time-start {
  display: block;
  margin-bottom: var(--cbp-match--participant-time-start__margin-bottom);
  font-size: var(--cbp-match--participant-time-start__font-size);
  font-weight: var(--cbp-match--participant-time-start__font-weight);
  text-align: var(--cbp-match--participant-time-start__text-align)
}

.cyberpress-match .cyberpress-match-participant-players>h3 {
  margin-top: var(--cbp-match--participant-players-h3__margin-top);
  margin-bottom: var(--cbp-match--participant-players-h3__margin-bottom);
  font-size: var(--cbp-match--participant-players-h3__font-size)
}

.cyberpress-match .cyberpress-match-participant-players ul {
  font-size: var(--cbp-match--participant-players-ul__font-size)
}

.cyberpress-match .cyberpress-match-participant-players ul>li+li {
  margin-top: var(--cbp-match--participant-players-ul__gap)
}

.cyberpress-match .cyberpress-match-participant-players-player {
  display: flex;
  flex-wrap: wrap;
  align-items: center
}

.cyberpress-match .cyberpress-match-participant-players-player>img {
  flex: var(--cbp-match--participant-players-img__width);
  max-width: var(--cbp-match--participant-players-img__width);
  height: auto;
  margin-right: var(--cbp-match--participant-players-img__margin-right);
  border-radius: var(--cbp-match--participant-players-img__border-radius)
}

.cyberpress-match .cyberpress-match-participant-players-player>span {
  display: block;
  font-weight: var(--cbp-match--participant-players-span__font-weight)
}

.cyberpress-tournament {
  --cbp-tournament__padding: 15px;
  --cbp-tournament__gap: 15px;
  --cbp-tournament__background-color: var(--cbp-color-background);
  --cbp-tournament--title__font-size: 16px;
  --cbp-tournament--title__margin-top: 0;
  --cbp-tournament--title__margin-bottom: 0;
  --cbp-tournament--info__margin-bottom: 0;
  padding: var(--cbp-tournament__padding);
  background-color: var(--cbp-tournament__background-color)
}

.cyberpress-tournament>*+* {
  padding-top: var(--cbp-tournament__gap)
}

.cyberpress-tournament .cyberpress-tournament-title {
  margin-top: var(--cbp-tournament--title__margin-top);
  margin-bottom: var(--cbp-tournament--title__margin-bottom);
  font-size: var(--cbp-tournament--title__font-size)
}

.cyberpress-tournament .cyberpress-tournament-info {
  margin-bottom: var(--cbp-tournament--info__margin-bottom)
}

.single-player .has-post-thumbnail .cyberpress-player {
  --cbp-player__gap: 0;
  --cbp-single-player__grid-template-columns: minmax(18%, 200px) minmax(auto, 82%);
  --cbp-single-player--thumbnail__padding: 15px;
  --cbp-single-player--thumbnail__margin: -15px 0 -15px -15px;
  display: grid;
  grid-template-columns: var(--cbp-single-player__grid-template-columns)
}

@media(max-width: 767px) {
  .single-player .has-post-thumbnail .cyberpress-player {
    --cbp-player__gap: 15px;
    --cbp-single-player__grid-template-columns: 1fr;
    --cbp-single-player--thumbnail__padding: 0;
    --cbp-single-player--thumbnail__margin: 0
  }
}

.single-player .has-post-thumbnail .cyberpress-player .post-thumbnail {
  padding: var(--cbp-single-player--thumbnail__padding);
  margin: var(--cbp-single-player--thumbnail__margin)
}

.single-player .has-post-thumbnail .cyberpress-player .post-thumbnail img {
  display: block;
  width: 100%;
  height: auto
}


.cyberpress-player {
  --cbp-player__padding: 15px;
  --cbp-player__gap: 15px;
  --cbp-player__background-color: var(--cbp-color-background);
  --cbp-player--title__margin-top: 0;
  --cbp-player--title__margin-bottom: 0;
  --cbp-player--title__font-size: 16px;
  --cbp-player--info__margin-bottom: 0;
  padding: var(--cbp-player__padding);
  background-color: var(--cbp-player__background-color)
}

.cyberpress-player>*+* {
  padding-top: var(--cbp-player__gap)
}

.cyberpress-player .cyberpress-player-title {
  margin-top: var(--cbp-player--title__margin-top);
  margin-bottom: var(--cbp-player--title__margin-bottom);
  font-size: var(--cbp-player--title__font-size)
}

.cyberpress-player .cyberpress-player-info {
  margin-bottom: var(--cbp-player--info__margin-bottom)
}

.cyberpress-player-games {
  --cbp-player-games--thumb__width: 40px;
  --cbp-player-games--dates__font-size: 0.6em;
  --cbp-player-games--dates__opacity: 0.5
}

.cyberpress-player-games .cyberpress-player-games-thumb {
  width: var(--cbp-player-games--thumb__width);
  min-width: var(--cbp-player-games--thumb__width);
  height: auto
}

.cyberpress-player-games .cyberpress-player-games-dates {
  font-size: var(--cbp-player-games--dates__font-size);
  opacity: var(--cbp-player-games--dates__opacity)
}

.cyberpress-player-team {
  --cbp-player-team--thumb__width: 40px;
  --cbp-player-team--thumb__border-radius: var(--cbp-border-radius);
  --cbp-player-team--dates__font-size: 0.85em;
  --cbp-player-team--dates__opacity: 0.5
}

.cyberpress-player-team .cyberpress-player-team-thumb {
  width: var(--cbp-player-team--thumb__width);
  min-width: var(--cbp-player-team--thumb__width);
  height: auto;
  border-radius: var(--cbp-player-team--thumb__border-radius)
}

.cyberpress-player-team .cyberpress-player-team-dates {
  font-size: var(--cbp-player-team--dates__font-size);
  opacity: var(--cbp-player-team--dates__opacity)
}

.single-team .has-post-thumbnail .cyberpress-team {
  --cbp-team__gap: 0;
  --cbp-single-team__grid-template-columns: minmax(18%, 200px) minmax(auto, 82%);
  --cbp-single-team--thumbnail__padding: 15px;
  --cbp-single-team--thumbnail__margin: -15px 0 -15px -15px;
  display: grid;
  grid-template-columns: var(--cbp-single-team__grid-template-columns)
}

@media(max-width: 767px) {
  .single-team .has-post-thumbnail .cyberpress-team {
    --cbp-team__gap: 15px;
    --cbp-single-team__grid-template-columns: 1fr;
    --cbp-single-team--thumbnail__padding: 0;
    --cbp-single-team--thumbnail__margin: 0
  }
}

.single-team .has-post-thumbnail .cyberpress-team .post-thumbnail {
  padding: var(--cbp-single-team--thumbnail__padding);
  margin: var(--cbp-single-team--thumbnail__margin)
}

.single-team .has-post-thumbnail .cyberpress-team .post-thumbnail img {
  display: block;
  width: 100%;
  height: auto
}

.cyberpress-team {
  --cbp-team__padding: 15px;
  --cbp-team__gap: 15px;
  --cbp-team__background-color: var(--cbp-color-background);
  --cbp-team--title__margin-top: 0;
  --cbp-team--title__margin-bottom: 0;
  --cbp-team--title__font-size: 16px;
  --cbp-team--info__margin-bottom: 0;
  padding: var(--cbp-team__padding);
  background-color: var(--cbp-team__background-color);
}

.cyberpress-team.cyberpress-team.d-flex.justify-content-between,
.cyberpress-team.cyberpress-team.d-flex.justify-content-between .post-thumbnail {
  flex-direction: column;
  gap: 15px;
}

.cyberpress-team.cyberpress-team.d-flex.justify-content-between .post-thumbnail img {
  width: 100%;
  height: auto;
}

@media (min-width: 768px) {

  .cyberpress-team.cyberpress-team.d-flex.justify-content-between,
  .cyberpress-team.cyberpress-team.d-flex.justify-content-between .post-thumbnail {
    flex-direction: row !important;
  }


  .cyberpress-team.cyberpress-team.d-flex.justify-content-between .post-thumbnail img {
    aspect-ratio: 1 / 1;
    max-width: 175px;
  }
}

.cyberpress-team>*+* {
  padding-top: var(--cbp-team__gap)
}

.cyberpress-team .cyberpress-team-title {
  margin-top: var(--cbp-team--title__margin-top);
  margin-bottom: var(--cbp-team--title__margin-bottom);
  font-size: var(--cbp-team--title__font-size)
}

.cyberpress-team .cyberpress-team-info {
  margin-bottom: var(--cbp-team--info__margin-bottom)
}

.cyberpress-team-players {
  --cbp-team-players--thumb__width: 40px;
  --cbp-team-players--thumb__border-radius: var(--cbp-border-radius)
}

.cyberpress-team-players .cyberpress-team-players-thumb {
  width: var(--cbp-team-players--thumb__width);
  min-width: var(--cbp-team-players--thumb__width);
  height: auto;
  border-radius: var(--cbp-team-players--thumb__border-radius)
}

.cyberpress-game-inline-link {
  --cbp-game-inline-link--img__height: 1em;
  --cbp-game-inline-link--img__vertical-align: -0.125em
}

.cyberpress-game-inline-link img {
  display: inline-block;
  width: auto;
  height: var(--cbp-game-inline-link--img__height);
  vertical-align: var(--cbp-game-inline-link--img__vertical-align)
}

.cyberpress-game {
  --cpb-game__padding: 15px;
  --cpb-game__gap: 15px;
  --cbp-game__background-color: var(--cbp-color-background);
  --cbp-game--title__margin-top: 0;
  --cbp-game--title__margin-bottom: 0;
  --cbp-game--title__font-size: 16px;
  padding: var(--cpb-game__padding);
  background-color: var(--cbp-game__background-color)
}

.cyberpress-game>*+* {
  padding-top: var(--cpb-game__gap)
}

.cyberpress-game .cyberpress-game-title {
  margin-top: var(--cbp-game--title__margin-top);
  margin-bottom: var(--cbp-game--title__margin-bottom);
  font-size: var(--cbp-game--title__font-size)
}